.ant-btn {
  margin-right: 8px;
}

.form-label {
  text-align: right;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.85);
}
.form-label:after {
  content: ':';
}

.ant-table-tbody > tr > td {
  border-bottom: none !important;
}
